/*--- GENERAL ---*/

:root {
    --principal: #22c55e;
    --background: #141414;
    --secondary-bckg: #454545;
    --text: #fafafa;
    --secondary-text: #b5b5b5;
}
html {
    scroll-behavior: smooth;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono", monospace;
    font-size: clamp(1rem, 2vw, 1.1rem);
}
body {
    background-color: var(--background);
    color: var(--text);
}
h1 {
    font-size: clamp(2.5rem, 6vw, 3.5rem);
}
h2, h3 {
    font-size: clamp(2rem, 5vw, 3rem);
}
h4 {
    font-size: clamp(1rem, 2vw, 1.1rem);
    color: var(--principal);
    font-weight: normal;
}
a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: scale .5s;
}
input[type="checkbox"] {
    display: none;
}
.section__title {
    color: var(--principal);
    align-self: start;
    font-size: clamp(1rem, 2vw, 1rem);
    margin-bottom: 15px;
}
.section__description {
    margin-top: 20px;
    color: var(--secondary-text);
}
.section h3, .section__description {
    align-self: start;
}

/*--- HEADER ---*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 60px;
    border-bottom: solid 1px #22c55e22;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: var(--background);
    z-index: 10;
}
.navbar:has(.menu-checker:checked) .menu-options {
    max-height: 800px;
}
.navbar:has(.menu-checker:checked) .close-menu {
    display: inline-block;
    cursor: pointer;
}
.navbar__dev-logo {
    color: var(--principal);
}
.close-menu, .navbar:has(.menu-checker:checked) .open-menu {
    display: none;
}
.open-menu {
    cursor: pointer;
}
.menu-options {
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--background);
    border-bottom: solid 1px #22c55e22;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s linear;
}
.menu-options__option {
    list-style: none;
    transition: background .5s;
}
.menu-options__option a {
    padding: 20px;
    width: 100%;
    height: 100%;
}
.menu-options__option:hover {
    background-color: var(--secondary-bckg);
}

/*--- HOME ---*/

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 5%;
}
.home {
    margin-top: 60px;
    min-height: calc(100vh - 60px);
    text-align: center;
}
.home__web-dev-text {
    color: var(--principal);
    border: solid 1px #22c55e22;
    border-radius: 50px;
    padding: 10px;
    font-size: clamp(.7rem, .9vw, 1rem);
    align-content: center;
    transition: border-color .5s, box-shadow .5s;
    margin-bottom: 10px;
}
.home__web-dev-text:hover {
    border-color: var(--principal);
    box-shadow: 0 0 10px var(--principal);
}
.clean-code {
    font-size: inherit;
    color: var(--principal);
}
.home__description {
    color: var(--secondary-text);
    margin-top: 10px;
}
.home__buttons {
    border: none;
    display: flex;
    flex-direction: column;
    width: 100%;
}
button {
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    background-color: #252525;
    color: var(--text);
}
.home__buttons a, .form button {
    width: 100%;
    height: 100%;
    padding: 8px;
    border-radius: 10px;
    transition: opacity .5s;
}
.buttons__start-project a, .form button {
    background-color: var(--principal);
    color: var(--background);
}
.home__buttons a:hover, .form button:hover {
    opacity: .8;
}

/*--- ABOUT ---*/

.cards {
    margin-top: 20px;
    width: 100%;
}
.card {
    width: 100%;
    max-width: 500px;
    display: flex;
    align-items: center;
    border: solid 1px #22c55e22;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    transition: border-color .5s, box-shadow .5s, transform .5s;
}
.card i {
    color: var(--principal);
    background-color: #22c55e11;
    padding: 10px;
    border-radius: 10px;
    margin-right: 15px;
}
.card p, .card li {
    font-size: clamp(.7rem, .9vw, 1rem);
    color: var(--secondary-text);
    margin-top: 5px;
}
.card:hover {
    border-color: var(--principal);
    box-shadow: 0 0 10px var(--principal);
    transform: translateY(-10px);
}

/*--- SKILLS ---*/

.skills__card, .projects__card {
    flex-direction: column;
    justify-content: space-between;
    min-height: 100px;
}
.skills__card h4, .skills__card div {
    align-self: start;
}
.skills__card div, .projects__card > div:last-child div{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
.skills__card p, .projects__card > div:last-child div p {
    margin-right: 5px;
    border: solid 1px #22c55e22;
    border-radius: 10px;
    padding: 1px 10px;
    transition: border-color .5s;
}
.skills__card p:hover,  .projects__card > div:last-child div p:hover {
    border-color: var(--principal);
}

/*--- PROJECTS ---*/

.projects__card {
    padding: 0;
}
.card__img {
    width: 100%;
    height: 190px;
    margin-bottom: 20px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
}
.projects h4 {
    color: var(--text);
}
.projects__card > div:last-child{
    padding: 0 20px 20px 20px;
}
.img__overlay {
    background-color: #14141488;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img__overlay a {
    display: flex;
    align-items: center;
    background-color: #343434;
    padding: 5px 20px;
    border-radius: 10px;
    transition: opacity .5s;
}
.img__overlay p {
    margin-left: 10px;
    margin-bottom: 5px;
    color: var(--text);
    font-size: clamp(1rem, 2vw, 1.1rem);
}
.img__overlay i {
    background-color: transparent;
    color: inherit;
    padding: 0;
    margin: 0;
}
.projects__card:hover, .skills__card:hover, .contact .card:hover {
    border-color: #22c55e55;
    transform: none;
    box-shadow: none;
}
.projects__card:hover .img__overlay {
    opacity: 1;
    pointer-events: all;
}
.projects__card:hover .card__img img {
    scale: 1.1;
}
.img__overlay a:hover {
    opacity: .8;
}

/*--- CONTACT ---*/

.form, .work-with-me {
    flex-direction: column;
    padding: 30px;
}
.form h4 {
    margin-bottom: 20px;
}
.form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}
.form input, textarea {
    background-color: #23232377;
    border: none;
    outline: solid 1px #22c55e22;
    border-radius: 10px;
    padding: 5px 10px;
    margin-top: 10px;
    transition: outline .5s;
    color: inherit;
}
textarea {
    resize: none;
    height: 100px;
}
.form button {
    height: auto;
    cursor: pointer;
}
form input:focus, textarea:focus {
    outline-color: #22c55e55;
}
form input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #23232377 inset !important;
    -webkit-text-fill-color: #fff !important;
    transition: background-color 5000s ease-in-out 0s;
}
.form label, input::placeholder, textarea::placeholder, form button {
    font-size: clamp(.8rem, 1vw, 1.1rem);
}
.contact__another-contactWay {
    margin-top: 50px;
    width: 100%;
}
.contact h4 {
    color: var(--text);
}
.contact a {
    color: var(--principal);
    font-size: clamp(.8rem, 1vw, 1.1rem);
    transition: opacity .5s;
}
.contact a:hover {
    opacity: .5;
}
.card li::marker {
    content: '✓';
    color: var(--principal);
}
.work-with-me {
    background-color: #22c55e11;
}
.work-with-me h4, .work-with-me ul {
    align-self: start;
    padding: 0;
}
.work-with-me h4 {
    color: var(--principal);
    font-size: clamp(.8rem, 1vw, 1.1rem);
    margin-bottom: 10px;
}
.work-with-me li {
    margin-top: 15px;
    margin-left: 10px;
    padding-left: 5px;
}
