/*--- GENERAL ---*/

:root {
    --principal: #22c55e;
    --background: #252525;
    --secondary-bckg: #454545;
    --text: #fafafa;
    --secondary-text: #b5b5b5;
}
html {
    scroll-behavior: smooth;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono", monospace;
    font-size: clamp(1rem, 2vw, 1rem);
}
body {
    background-color: var(--background);
    color: var(--text);
}
h1 {
    font-size: clamp(2.5rem, 6vw, 3.5rem);
}
h2, h3 {
    font-size: clamp(2rem, 5vw, 3rem);
}
a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}
input[type="checkbox"] {
    display: none;
}

/*--- HEADER ---*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 60px;
    border-bottom: solid 1px #22c55e22;
    position: fixed;
    width: 100%;
}
.navbar:has(.menu-checker:checked) .menu-options {
    max-height: 800px;
}
.navbar__dev-logo {
    color: var(--principal);
}
.open-menu {
    cursor: pointer;
}
.menu-options {
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--background);
    border-bottom: solid 1px #22c55e22;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s linear;
}
.menu-options__option {
    list-style: none;
    transition: background .5s;
}
.menu-options__option a {
    padding: 20px;
    width: 100%;
    height: 100%;
}
.menu-options__option:hover {
    background-color: var(--secondary-bckg);
}

/*--- HOME ---*/

